![Illustration of silhouetted heads](../mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


The goal of this analysis is to explore the `students` data table originally downloaded as csv from DataCamp using PostgreSQL to find out if there's a similar conclusion for international students and see if the length of stay is a contributing factor.

Below is the data description of the columns.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [15]:
import os
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

# Load environment variables from .env file
load_dotenv()

# Access environment variables
user = os.getenv("db_user")
password = os.getenv("db_password")
host = os.getenv("db_host")
port = os.getenv("db_port", 5432)
dbname = os.getenv("db_name")

# Create the connection string
connection_string = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

In [16]:
# Load CSV file into a DataFrame for efficiency
csv_path = "../data/raw/students.csv"
df = pd.read_csv(csv_path)
df.head()

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

In [17]:
# Read the dataframe into my connected PostgreSQL desktop database
df.to_sql("students", engine, if_exists="replace", index=False)
print("CSV imported successfully.")

CSV imported successfully.

In [18]:
# Preview of data in the students table
query = """
    SELECT *
    FROM students
"""

data_preview = pd.read_sql(query, engine)
print("PostgreSQL Data Preview:")
data_preview.head(20)

PostgreSQL Data Preview:

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No
5,Inter,SEA,Male,Grad,24.0,4.0,6.0,Long,3.0,Average,...,Yes,No,No,No,No,No,No,Yes,No,No
6,Inter,SA,Male,Grad,23.0,4.0,1.0,Short,3.0,Average,...,Yes,Yes,No,No,No,Yes,No,No,No,No
7,Inter,SEA,Female,Grad,30.0,5.0,2.0,Medium,1.0,Low,...,No,No,No,Yes,No,No,No,No,No,No
8,Inter,SEA,Female,Grad,25.0,4.0,4.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
9,Inter,Others,Male,Grad,31.0,5.0,2.0,Medium,1.0,Low,...,No,No,No,No,No,No,No,No,No,No
10,Inter,Others,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,No,Yes,Yes,No,No,No,No,No,Yes,No
11,Inter,SEA,Female,Grad,31.0,5.0,1.0,Short,1.0,Low,...,No,Yes,No,No,No,No,No,No,Yes,No
12,Inter,SA,Male,Grad,29.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,Yes,No,No,No,No,No,No,No
13,Inter,EA,Male,Grad,23.0,4.0,1.0,Short,3.0,Average,...,Yes,No,No,No,No,No,No,No,No,No
14,Inter,SEA,Female,Grad,31.0,5.0,1.0,Short,1.0,Low,...,No,No,No,No,No,No,No,No,No,No
15,Inter,Others,Female,Grad,30.0,5.0,1.0,Short,1.0,Low,...,No,Yes,No,Yes,No,Yes,Yes,No,No,No
16,Inter,EA,Female,Grad,31.0,5.0,1.0,Short,1.0,Low,...,Yes,No,No,No,No,No,No,No,No,No
17,Inter,Others,Female,Grad,29.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,No,No,Yes,No,No,No,No
18,Inter,SEA,Female,Under,19.0,2.0,1.0,Short,3.0,Average,...,No,Yes,Yes,Yes,No,No,No,No,No,No
19,Inter,SEA,Male,Under,25.0,4.0,3.0,Medium,2.0,Low,...,Yes,No,No,No,No,No,No,Yes,No,No

In [19]:
# Number of international students and their average scores by length of stay, in descending order of length of stay
query = """
SELECT stay, 
       COUNT(*) AS count_int,
       ROUND(CAST(AVG(todep) AS NUMERIC), 2) AS average_phq, 
       ROUND(CAST(AVG(tosc) AS NUMERIC), 2) AS average_scs, 
       ROUND(CAST(AVG(toas) AS NUMERIC), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC
"""

int_students = pd.read_sql(query, engine)
print("International Students Data Preview:")
int_students

International Students Data Preview:

   stay  count_int  average_phq  average_scs  average_as
0  10.0          1        13.00        32.00       50.00
1   8.0          1        10.00        44.00       65.00
2   7.0          1         4.00        48.00       45.00
3   6.0          3         6.00        38.00       58.67
4   5.0          1         0.00        34.00       91.00
5   4.0         14         8.57        33.93       87.71
6   3.0         46         9.09        37.13       78.00
7   2.0         39         8.28        37.08       77.67
8   1.0         95         7.48        38.11       72.80

In [21]:
# Percentage of students with low Japanese proficiency
query = """
SELECT japanese_cate, 
       COUNT(*) * 100.0 / (
           SELECT COUNT(*)
           FROM students
           ) AS percentage 
FROM students
GROUP BY japanese_cate
ORDER BY percentage DESC
"""
low_japanese = pd.read_sql(query, engine)
print("Low Japanese Proficiency Data Preview:")
low_japanese

Low Japanese Proficiency Data Preview:

  japanese_cate  percentage
0           Low   32.167832
1       Average   31.118881
2          High   30.419580
3          None    6.293706

In [22]:
# Are there many domestic students?
query = """
SELECT inter_dom, COUNT(*) AS Student_count
FROM students
GROUP BY inter_dom
ORDER BY student_count DESC
"""
domestic_students = pd.read_sql(query, engine)
print("Domestic Students Data Preview:")
domestic_students

Domestic Students Data Preview:

  inter_dom  student_count
0     Inter            201
1       Dom             67
2      None             18